<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/security
                    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/customer/**" access="hasRole('ROLE_CUSTOMER')" />
        <intercept-url pattern="/developer/**" access="hasRole('ROLE_DEVELOPER')" />
        <intercept-url pattern="/manager/**" access="hasRole('ROLE_MANAGER')" />

        <form-login login-page="/login"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/logout"
                    login-processing-url="/j_spring_security_check"
                    authentication-success-handler-ref="authenticationSuccessHandler"/>
        <logout invalidate-session="true" logout-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsService" />
    </authentication-manager>
</beans:beans>